<div class="container" style="margin-top:50px;margin-bottom: 40px;">
    <h3 class="text-center mb-4">How to use FileShare</h3>
    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Step 1</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Step 2</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Step 3</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Step 4</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings1" role="tab" aria-controls="settings">Step 5</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings2" role="tab" aria-controls="settings">Step 6</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <ul>
                    <li>Create an account</li>
                    <li>A verification email will be sent from <b>seguncodes07@gmail.com</b></li>
                    <li>Verify Your Email Address</li>
                    <li>Login to your account</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <p class="ml-3">In the "My Uploads" section you can :</p>
                <ul>
                    <li>Create a folder and also upload files </li>
                    <li>Upload (related) files inside a created folder</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <p class="ml-3">For an uploaded file you can :</p>
                <ul>
                    <li>Download the file to your device(s) </li>
                    <li>Rename the file</li>
                    <li>Share file access to another user on the app</li>
                    <li>Generate a link for other people to download your file</li>
                    <li>Delete the file</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <p class="ml-3">For a created folder you can :</p>
                <ul>
                    <li>Upload (related) files inside it</li>
                    <li>Rename the folder</li>
                    <li>Share folder access to another user on the app</li>
                    <li>View all users you have shared the folder with</li>
                    <li>Remove a user from accessing the folder</li>
                    <li>Delete the file</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-settings1" role="tabpanel" aria-labelledby="list-profile-list">
                <p class="ml-3">In the "Shared With Me" section you can :</p>
                <ul>
                    <li>View folders and files shared with you by other users </li>
                    <li>Download files shared with you by other users</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-settings2" role="tabpanel" aria-labelledby="list-profile-list">
                <p class="ml-3">In the "My Shared Links" section you can :</p>
                <ul>
                    <li>View the public links for files you generated </li>
                    <li>Delete the public links for a file you generated </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
</div>